{% extends "layouts/main.html"%}
{% block content %}
{% load static %}
<h1 class="text-danger">BUSQUEDA</h1>
<div class="container">
    <div class="row">
        <div class="col-6">
            <form method="GET" action="">
                <div class="form-group my-4">
                    <label>BUSCAR:</label>
                    <input type="text" name="buscar" placeholder="Buscar..">
                </div>
                <div class="form-group my-4">
                    <button class="btn btn-dark" type="submit">Buscar</button>
                </div>
            </form>
             <p>En esta seccion podras obtener informacion de los principales autores de los libros publicados en nuestro sitio, ya que detras de un buen libro esta un gran escritor</p>
    
            <div class="row">
                <div class="col-6 my-4">
                    <img src="{% static 'images/reflexion2.jpg' %}" width="300"  height="300" alt="imagen">
                </div>
               
            </div>
             <div class="row">
                <div class="col-6 my-4">
                    <img src="{% static 'images/libro.jpg' %}" width="300" height="300" alt="imagen">
                </div>
                
             </div>   
                
        </div>

        <div class="col-6">
            <h1 class="text-danger">RESULTADOS:</h1>
            {% for d in datos %}
            <div class="card align-items-center" style="Width: 30rem;">
                <div class="card-body">
                    <h2>{{d.nombre_autor}} {{d.apellido_autor}}</h2>
                    <p>{{d.biografia}}</p>
                </div>
            </div>
           
             
            {% endfor %}
        </div>
    </div>
    
</div>    

{% endblock%}